<h1><%= @message %></h1>
<p>This is a greeting from app/views/welcome/index.html.erb</p>

<% @count.times do %>
  <p><%= @bonus %></p>
<% end %>

<%= form_tag action: 'log_in', controller: 'entries' do %>
  <p>Enter your name:
  <%= text_field_tag 'visitor_name', @name %></p>

  <%= submit_tag 'Log in' %>
<% end %>

<p> Previous visitors </p>
<ul>
  <% @entries.each do |entry| %>
    <li><%= entry.name %></li>
  <% end %>
</ul>
