<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, size: 41 %>
  </div>

  </br>
  <div class="field">
    <%= f.label :secret %>
    <%= f.text_field :secret, size: 40 %>
  </div>

  </br>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country, size: 38 %>
  </div>

  </br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, size: 41 %>
  </div>

  </br>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, size: 42 %>
  </div>

  </br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, cols: 67, rows: 6 %>
  </div>

  </br>
  <div class="field">
    <% graduation_years = { '2018' => '2018', '2019' => '2019', '2020' => '2020'}%>

    <%= graduationYearButtons(:person, :graduation_year, graduation_years) %>
  </div>

  </br>
  <div class="field">
    <%= f.label :body_temperature %>
    <%= f.select :body_temperature,[ ['30 C'],
                                     ['40 C'],
                                     ['50 C'],
                                     ['60 C'],
                                     ['70 C'] ] %>
  </div>

  </br>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday %>
  </div>

  </br>
  <div class="field">
    <%= f.label :favorite_time %>
    <%= f.time_select :favorite_time %>
  </div>

  </br>
  <div class="field">
    <%= f.label :can_send_email %>
    <%= f.check_box :can_send_email, checked: "checked" %>
  </div>

  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
